<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello, ' + ${user.firstName} + ' ' + ${user.lastName}"></title>
</head>
<body>
<h2>Your profile:</h2>
<h4 th:text="'First name: ' + ${user.firstName}">First name</h4>
<h4 th:text="'Last name: ' + ${user.lastName}">Last name</h4>
<h4 th:text="'Username: ' + ${user.username}">Username</h4>
<a th:href="@{/personal-info/shopping-cart}">
    Check my shopping cart
</a>
</body>
</html>