<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Hello, ' + ${user.firstName} + ' ' + ${user.lastName}"></title>
</head>
<body>
<h2>Your profile:</h2>
<form th:method="PATCH" th:object="${user}" th:action="@{/personal-info/update}">
    <label for="firstName">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color:red">first name error</div>
    <br/>

    <label for="lastName">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color:red">last name error</div>
    <br/>

    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red">username error</div>
    <br/>

    <input type="hidden" th:field="*{password}">
    <input type="hidden" th:field="*{role}">
    <input type="submit" value="Update">
</form>
<form method="GET" th:action="@{/personal-info/shopping-cart}">
    <input type="submit" value="Check my shopping cart">
</form>
<form method="GET" th:action="@{/items}">
        <input type="submit" value="Check items">
</form>
<form method="POST" th:action="@{/auth/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>