<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'User: 1' + ${user.username}">User</title>
</head>
<body>
<h4 th:text="'Username: ' + ${user.username}">username</h4>
<h4 th:text="'First name: ' + ${user.firstName}">first name</h4>
<h4 th:text="'Last name: ' + ${user.lastName}">last name</h4>
<h4 th:text="'Role: ' + ${user.role}">role</h4>
<form th:method="PATCH" th:if="${user.role.equals('ROLE_USER')}" th:object="${user}" th:action="@{|/admin/users/${user.id}/update-role|}">
    <input type="submit" value="SET ADMIN ROLE">
</form>

<form th:method="PATCH" th:if="${user.role.equals('ROLE_ADMIN')}" th:object="${user}" th:action="@{|/admin/users/${user.id}/update-role|}">
    <input type="submit" value="SET USER ROLE">
</form>

<form th:method="DELETE" th:action="@{|/admin/users/${user.id}/delete|}">
    <input type="submit" value="Delete">
</form>
</body>
</html>