<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'User: 1' + ${user.username}">User</title>
</head>
<body>
<h6 th:text="'Username: ' + ${user.username}">username</h6>
<h6 th:text="'First name: ' + ${user.firstName}">first name</h6>
<h6 th:text="'Last name: ' + ${user.lastName}">last name</h6>
<h6 th:text="'Role: ' + ${user.role}">role</h6>
<form th:method="PATCH" th:if="${user.role.equals('ROLE_USER')}" th:object="${user}" th:action="@{|/admin/users/${user.id}/update-role|}">
    <input type="submit" value="Set role admin">
</form>

<form th:method="PATCH" th:if="${user.role.equals('ROLE_ADMIN')}" th:object="${user}" th:action="@{|/admin/users/${user.id}/update-role|}">
    <input type="submit" value="Set role user">
</form>

<div th:unless="${items.isEmpty()}">
    Items in cart:
    <ol>
        <li th:each="item:${items}">
            <div th:text="'Name: ' + ${item.name}  + ' price: ' + ${item.price}"></div>
        </li>
    </ol>
</div>

<form th:method="DELETE" th:action="@{|/admin/users/${user.id}/delete|}">
    <input type="submit" value="Delete user!">
</form>
</body>
</html>