<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<ul>
    <li th:each="item:${items}">
        <a th:href="@{/items/{id}(id=${item.id})}"
           th:text="${item.name} + ' Price: ' + ${item.price} + '$'">
        </a>
    </li>
</ul>

<div th:if="${pageRequest.getPageNumber() > 0}" style="text-align:left">
    <a th:if="${pageRequest.getSort().toString().equals('UNSORTED')}"
       th:href="@{|/items/page/${pageRequest.getPageNumber() - 1}|}"><-previous page</a>
    <a th:unless="${pageRequest.getSort().toString().equals('UNSORTED')}"
       th:href="@{|/items/page/${pageRequest.getPageNumber() - 1}?sort-by=${pageRequest.getSort().get().findFirst().get().getProperty()}|}"><-previous
        page</a>
</div>

<div style="text-align=center">
    <a th:href="@{|/items/page/${pageRequest.getPageNumber()}|}">. Sort by the date of product addition . .</a>
    <a th:href="@{|/items/page/${pageRequest.getPageNumber()}?sort-by=name|}">Sort by name .</a>
    <a th:href="@{|/items/page/${pageRequest.getPageNumber()}?sort-by=price|}">Sort by price</a>
</div>

<div th:if="${items.size() > 0 && items.size() % pageRequest.getPageSize() == 0}" style="text-align:right">
    <a th:if="${pageRequest.getSort().toString().equals('UNSORTED')}"
       th:href="@{|/items/page/${pageRequest.getPageNumber() + 1}|}">next page-></a>
    <a th:unless="${pageRequest.getSort().toString().equals('UNSORTED')}"
       th:href="@{|/items/page/${pageRequest.getPageNumber() + 1}?sort-by=${pageRequest.getSort().get().findFirst().get().getProperty()}|}">next
        page-></a>
</div>

<div style="position: absolute; top: 10px; right: 10px;">
    <form method="GET" th:action="@{/personal-info}">
        <input type="submit" value="Check personal info" style="width: 200px;">
    </form>
</div>
</body>
</html>