<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<ul>
    <li th:each="item:${items}">
        <a th:href="@{/items/{id}(id=${item.id})}"
           th:text="${item.name} + ' Price: ' + ${item.price} + '$'">
        </a>
    </li>
</ul>
<div th:if="${page > 1}" style="float:left">
    <form method="GET" th:action="@{/items/page/{page}(page=${page - 1})}">
        <input type="submit" value="<-previous page" style="width: 150px;">
    </form>
</div>

<div th:if="${items.size() > 0 && items.size() % itemsPerPage == 0}" style="float:right">
    <form method="GET" th:action="@{/items/page/{page}(page=${page + 1})}">
        <input type="submit" value="next page->" style="width: 150px;">
    </form>
</div>

<div style="position: absolute; top: 10px; right: 10px;">
    <form method="GET" th:action="@{/personal-info}">
        <input type="submit" value="Check personal info" style="width: 200px;">
    </form>
</div>
</body>
</html>